You should separate data that is used for training, from data that is used for testing.

In Python that is very easy. We will use some dummy dataframe in this exercise.

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [21]:
df = pd.DataFrame(np.arange(1500).reshape((500, 3)), columns=['x1', 'x2', 'y'])

In [22]:
df.head()

   x1  x2   y
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [23]:
df.tail()

       x1    x2     y
495  1485  1486  1487
496  1488  1489  1490
497  1491  1492  1493
498  1494  1495  1496
499  1497  1498  1499

# Train / Test Split

In [25]:
X, y = df.loc[:, df.columns != 'y'], df['y']  # separate independent (X) and dependent (y) features

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [27]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(400, 2) (100, 2) (400,) (100,)